<p class="mat-headline-1">{{ (winner$ | async) + ' wins!' }}</p>
<ng-container [ngSwitch]="(isWinner$ | async)">
  <p class="mat-headline-2" *ngSwitchCase="true">You win!</p>
  <p class="mat-headline-2" *ngSwitchCase="false">You lose!</p>
</ng-container>

Winners
<ul>
  <ng-container *ngFor="let winner of (winners$ | async)">
    <li>{{ winner.nickname }}</li>
  </ng-container>
</ul>

<div class="actions-container">
  <app-loading-button (clicked)="replayGame()">Replay</app-loading-button>
  <app-loading-button (clicked)="goToIntroPage()">Leave</app-loading-button>
</div>
