@use 'src/variables' as vars;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-create {
  margin: vars.$standard-spacing;
}
